<!--The content below is only a placeholder and can be replaced.-->
<div class="body-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">Chatting App</h1>
    </mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">>
    <mat-sidenav [opened]="mobileQuery.matches ? false : true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-expansion-panel [expanded] = "panel.children" multi="true" *ngFor="let panel of config.panels">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ panel.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    <mat-nav-list *ngIf="panel.children">
                        <a (click)="startChat(item)" mat-list-item *ngFor="let item of panel.children">
                            <mat-icon color="primary" *ngIf="item.active">chat_bubble</mat-icon>
                            <mat-icon *ngIf="!item.active">chat_bubble_outline</mat-icon>
                            <span>{{ item.firstName  + " " + (item.lastName ? item.lastName : "")}}</span>
                        </a>
                    </mat-nav-list>
                </mat-panel-description>
            </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <chathouse-component [events]="eventsSubject.asObservable()"></chathouse-component>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>